<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <title>lstep.xyz</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- Navigation -->
    <nav>
        <a href="index.html">Home</a>
        <a href="blog.html">Blog</a>
        <a href="uses.html">Uses</a>
    </nav>

    <!-- Main Content -->
    <div class="container">
        <h1>lstep.xyz</h1>
        <p>Hey there! I’m Loren, and I’m glad you stopped by. I’ve been blogging for over 20 years. This is my little corner of the internet where I share my thoughts and opinions on life, current events, technology, and whatever else comes to mind.</p>

<p>Other places that I write:</p>

<ul>
<li><a href="https://ldstephens.medium.com/">Medium</a></li>
</ul>

<p>Want to stay in the loop subscribe to the <a href="https://lstep.xyz/rss.xml">RSS Feed</a></p>

<p><a href="https://letterbird.co/ldstephens">Contact Me</a></p>
    </div>

    <footer>
        &copy; 2024 lstep.xyz - All Rights Reserved
    </footer>

</body>
</html>